body {
    background-color: rgb(143, 199, 199);
    color: rgba(39, 34, 34, 0.849);
}

.trip__card {
    border: 3px solid darkslategrey;
    background-color: darkgoldenrod;
    width: 350px;
}

.interest__card {
    border: 3px solid darkgoldenrod;
    background-color: rgba(248, 248, 248, 0.849);
    width: 300px;
    margin: 20px;
    height: 300px;
    color: rgba(48, 48, 48, 0.685);
}

#saveButton {
    margin: 5px 5px 5px 5px;
}

.delete {
    margin: 40px 5px 5px 5px;
}

.edit {
    margin: 45px 5px 5px 5px;
}

.contact {
    margin: 2px;
}

